In [2]:
import pandas as pd
import csv

In [3]:
df = pd.read_csv('/Users/aasthaprajapati/Downloads/adult.data.csv')

In [4]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

Question1 : How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

Method 1

In [5]:
race_count = pd.Series(
    [df[df.race == 'White'].shape[0], df[df.race == 'Black'].shape[0], df[df.race == 'Asian-Pac-Islander'].shape[0], df[df.race == 'Amer-Indian-Eskimo'].shape[0], df[df.race == 'Other'].shape[0]],
    index = ['White', 'Black','Asian-Pac-Islander','Amer-Indian-Eskimo','Other']
)

In [6]:
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

In [7]:
df.race.unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [8]:
df.race.shape[0]

32561

Method 2

In [9]:
race_count2 = df['race'].value_counts()

In [10]:
race_count2

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

Question 2: What is the average age of men?

Method 1

In [11]:
df[df.sex=='Male'].age.mean()

39.43354749885268

Method 2

In [12]:
df1 = round(df.groupby('sex')['age'].mean()['Male'],1)

In [13]:
df1

39.4

Question 3: What is the percentage of people who have a Bachelor's degree?

In [14]:
round(df[df.education=='Bachelors'].shape[0]/df.education.shape[0]*100,1)

16.4

In [15]:
round(df['education'].value_counts()['Bachelors']/df.shape[0]*100,1)

16.4

Question 4 : What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [16]:
round(df[(df.salary == '>50K') & ((df.education == 'Masters') | (df.education == 'Bachelors') | (df.education == 'Doctorates'))].shape[0]/((df.education == 'Masters') | (df.education == 'Bachelors') | (df.education == 'Doctorates')).shape[0]*100,1)

9.8

In [17]:
df.shape[0]

32561

In [18]:
df.education.shape[0]

32561

In [95]:
higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorates'])]

In [134]:
lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorates'])]

In [108]:
rich_highEducation = round(100.0 * (higher_education['salary'] == '>50K').sum() / len(higher_education), 1 )

In [109]:
rich_highEducation

44.9

Question 5: What percentage of people without advanced education make more than 50K?

In [23]:
rich_lowEducation = round((low_education['salary']=='>50K').sum()/len(highEducation)*100,1)

In [24]:
rich_lowEducation

65.9

Question 6:What is the minimum number of hours a person works per week?

In [25]:
df['hours-per-week'].min()

1

Question 7 : What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [89]:
minhoursworkers = df.loc[df['hours-per-week']==df['hours-per-week'].min()]

In [91]:
minhoursworkers

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5766,62,?,97231,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5808,76,?,211574,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,<=50K
8447,67,?,244122,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
9147,75,?,260543,10th,6,Widowed,?,Other-relative,Asian-Pac-Islander,Female,0,0,1,China,<=50K
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K
19337,72,?,76860,HS-grad,9,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,1,United-States,<=50K
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K
20909,77,Self-emp-not-inc,71676,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,0,1944,1,United-States,<=50K
22960,21,Private,184135,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,1,United-States,<=50K
23536,69,?,320280,Some-college,10,Never-married,?,Not-in-family,White,Male,1848,0,1,United-States,<=50K
24284,57,Self-emp-not-inc,56480,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,1,United-States,<=50K
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
29752,69,?,117525,Assoc-acdm,12,Divorced,?,Unmarried,White,Female,0,0,1,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K

In [94]:
round((minhoursworkers['salary']=='>50K').sum()/len(minhoursworkers)*100,1)

10.0

In [150]:
rich_min_hours_workers = round((minhoursworkers['salary']=='>50K').sum()/minhoursworkers*100,1)
rich_min_hours_workers

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [28]:
(minhoursworkers['salary']=='>50K').sum()

2

Question 8 : What country has the highest percentage of people that earn >50K and what is that percentage?

In [29]:
salary_nation = df.loc[df.groupby('native-country')['salary'].value_counts()['United-States']]
salary_nation

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
21999,25,Private,69847,Bachelors,13,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Female,0,0,40,United-States,<=50K
7171,24,Private,209770,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,8,United-States,<=50K

In [30]:
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [31]:
df.salary.unique()

array(['<=50K', '>50K'], dtype=object)

In [32]:
df.salary.value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [151]:
salary_nation = df[(df['salary']=='>50K')]['native-country'].value_counts()

In [152]:
salary_nation

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [104]:
highest_earning_country = None
highest_earning_country_percentage = 0.0

In [153]:
for country, data in df.groupby('native-country'):
    percentage = (data['salary'] == '>50K').sum() / data['salary'].count()
    if highest_earning_country_percentage < percentage:
        highest_earning_country_percentage = percentage
        highest_earning_country = country
highest_earning_country_percentage = round(100 * highest_earning_country_percentage,1)

In [154]:
highest_earning_country

'Iran'

In [155]:
highest_earning_country_percentage

4190.0

In [156]:
indiacount= df.loc[df['native-country']=='India']

In [52]:
indiacount

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
892,28,Private,164170,Assoc-voc,11,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,40,India,<=50K
968,48,Private,164966,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
1029,48,Self-emp-inc,138370,Masters,14,Married-spouse-absent,Sales,Not-in-family,Asian-Pac-Islander,Male,0,0,50,India,<=50K
1095,22,Self-emp-not-inc,361280,Bachelors,13,Never-married,Prof-specialty,Own-child,Asian-Pac-Islander,Male,0,0,20,India,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30152,48,Private,119471,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
30833,25,Private,110978,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,37,India,>50K
30871,26,Private,160261,Masters,14,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,20,India,<=50K
31327,38,State-gov,125499,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7688,0,60,India,>50K
31357,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K

In [62]:
rich_india = df[(df['salary']=='>50K') & (df['native-country']=='India')]['occupation'].value_counts().keys()[0]

Question 9: Identify the most popular occupation for those who earn >50K in India.

In [63]:
rich_india

'Prof-specialty'

CODE CHECKS

In [116]:
average_age_men = round(df[df.sex=='Male'].age.mean(),1)

In [117]:
average_age_men

39.4

In [118]:
 race_count = df['race'].value_counts()

In [119]:
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [120]:
percentage_bachelors = round(df[df.education=='Bachelors'].shape[0]/df.education.shape[0]*100,1)

In [121]:
percentage_bachelors

16.4

In [122]:
percentage_bachelors = round( df['education'].value_counts(normalize=True)['Bachelors'] * 100.0, 1 )

In [123]:
percentage_bachelors

16.4

In [124]:
average_age_men = round( df.groupby('sex')['age'].mean()['Male'], 1 )

In [125]:
average_age_men

39.4

In [126]:
higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorates'])]

In [127]:
higher_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [128]:
higher_education =  df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [129]:
higher_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [130]:
 highest_earning_country_percentage = round(df[(df.salary == '>50K') & (df['native-country']==highest_earning_country)].shape[0]/df[df['native-country']=='United-States'].shape[0]*100,1)

In [131]:
highest_earning_country_percentage

0.5

In [135]:
lower_education_rich = round((lower_education['salary']=='>50K').sum()/len(lower_education)*100,1)

In [136]:
lower_education_rich

18.3

In [137]:
lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorates'])]

In [138]:
lower_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [139]:
higher_education_rich = round((higher_education['salary']=='>50K').sum()/len(higher_education)*100,1)

In [140]:
higher_education_rich

46.5

In [141]:
lower_education_rich = round(100.0 * (lower_education['salary'] == '>50K').sum() / len(lower_education), 1 )

In [142]:
lower_education_rich

18.3

In [143]:
 higher_education_rich = round(100.0 * (higher_education['salary'] == '>50K').sum() / len(higher_education), 1 )

In [144]:
higher_education_rich

46.5

In [145]:
df.education.value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [146]:
highest_earning_country = None
highest_earning_country_percentage = 0.0
    
for country, data in df.groupby('native-country'):
    percentage = (data['salary'] == '>50K').sum() / data['salary'].count()
    if highest_earning_country_percentage < percentage:
        highest_earning_country_percentage = percentage
        highest_earning_country = country
highest_earning_country_percentage = round(100 * highest_earning_country_percentage,1)

In [147]:
highest_earning_country

'Iran'

In [148]:
higher_education_rich = round(100.0 * (higher_education['salary'] == '>50K').sum() / len(higher_education), 1 )

In [149]:
higher_education_rich

46.5